/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url('/img/background/bg01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Make total box height equal to viewport height, including padding */
  box-sizing: border-box;
  height: 100vh;
  height: 100dvh;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dark mode background override */
[data-theme='dark'] .heroBanner {
  background-image: url('/img/background/bg02.jpg');
}

.intro {
  padding: calc(3rem + 2vh) 0;
  font-size: 1.05rem;
  line-height: 1.8;
}

.intro p {
  max-width: 55ch;
  margin: 0 auto;
}
